@import url('https://fonts.googleapis.com/css?family=Merriweather:900&display=swap');

:root {
  --color-primary: #002626;
  --color-secondary: #F0F7EE;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: 'Helvetica', sans-serif;
  --font-heading: 'Merriweather', serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: #151515;
  scroll-behavior: smooth;
}
h1 {
  position: absolute;
  height: 50%;
  margin-top: 400px;
  margin-right: 200px;
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) + 6vmin);
  line-height: calc(var(--line-height) / 1.25);
  color: white;
}
section {
  background-color: #151515;
  height: 90vh;
  margin:0;
  padding:2.5rem 4rem;
}

.main-navigation-toggle {
  position: fixed;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  
  + label {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 2;
  }
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--color-secondary);
}

.icon--close {
  stroke: var(--color-secondary);
  transform: translateX(-100%);
}
h2{
  color: white;
}
.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 1;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform-origin: 0 50%;
    z-index: -1;
  }
  
  ul {
    font-size: 12vmin;
    font-family: var(--font-heading);
    width: 100%;
  }
  
  li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-size);
      background-color: var(--color-secondary);
      transform-origin: 0 50%;
      transform: translateX(-100%) skew(15deg);
    }
  }
  
  a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-secondary);
    line-height: 1;
    text-decoration: none;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
  }
}
.pc{
  height: 350px;
  width: 350px;
  position: absolute;
  margin: 10% 0 0 50%;
  display: flex;
  flex-direction: row;
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
            animation-name: pchover;
}
h3{
  color:white;
  position: absolute;
  margin-left: 65%;
  margin-top: 80px;
}
.arrow{
  position: absolute;
  transform: rotate(-30deg);
  color:white;
  font-size:150px;
  text-align: center;
  margin-left: 85%;
  margin-top: -45px;
}
.pc:hover{
  transition: 1s ease;
  -ms-transform: skewY(-20deg);
transform: skewY(-20deg) ;
}
.glitch {
  font: {
    size: 8.125em;
    family: 'Raleway', sans-serif;
    weight: 700;
  }
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
  
  &:before, &:after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  } &:after {
    color: #f0f;
    z-index: -2;
  } &:before {
    color: #0ff;
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite
    }
    &:after {
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite
    }
  }
}

@media only screen and (max-width: 400px) {
  .glitch {
    font-size: 3em;
  }
}


@keyframes glitch {
  0% {
    transform: translate(0)
  }
  20% {
    transform: translate(-5px, 5px)
  }
  40% {
    transform: translate(-5px, -5px)
  }
  60% {
    transform: translate(5px, 5px)
  }
  80% {
    transform: translate(5px, -5px)
  }
  to {
    transform: translate(0)
  }
}
.vertical{
  background-color: rgb(211, 89, 28);
  height: 280px;
  width: 50px;
  position: relative;
  margin: 20px 0 0 20px;
  
}

.p-semicircle{
  background-color: rgb(211, 89, 28);
  height: 140px;
  width: 90px;
  position: relative;
  margin: -280px 0 0 75px;
  border-radius: 0% 50% 50% 0;
}
.c{
  margin-top: 20%;
  margin-left: -10%;
}
.c1{
  background-color: red;
  height: 200px;
  width: 130px;
  position: relative;
  margin: 40px 0px 0 10px;
  border-radius: 50% 0 0 50%;
}
.c2{
  background-color: #151515;
  height: 150px;
  width: 100px;
  position: relative;
  margin: -175px 0px 0 50px;
  border-radius: 50% 0 0 50%;
}

.main-content {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  transform: translateX(0);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);

}

.main-navigation-toggle:checked {
  ~ label .icon--menu-toggle {    
    .icon-group {
      transform: translateX(100%);
    }
  }
  
  ~ .main-content {
    transform: translateX(10%);
  }
  
  ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
    
    &:after {
      animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }
    
    li:after {
      animation: nav-line var(--duration) var(--ease) forwards;
    }
    
    a {
      animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }
    
    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        &:after, a {
          animation-delay: calc((var(--duration) / 2) * #{$i} * 0.125);
        }
      }
    }
  }
}

@keyframes nav-bg {
  from { transform: translateX(-100%) skewX(-15deg) }
  to { transform: translateX(0) }
}

@keyframes nav-line {
  0%   { transform: scaleX(0); transform-origin: 0 50%; }
  35%  { transform: scaleX(1.001); transform-origin: 0 50%; }
  65%  { transform: scaleX(1.001); transform-origin: 100% 50%; }
  100% { transform: scaleX(0); transform-origin: 100% 50%; }
}

@keyframes link-appear {
  0%, 25%   { transform: translateY(100%); }
  50%, 100% { transform: translateY(0); }
}